@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Outfit:wght@400;600;700&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

html {
    font-size: 1rem;
}

a:not([class]) {
    text-decoration: none;
    /* line-height: 0.8rem; */
}

/* a:not([class]):hover {
    text-decoration: underline;
} */

.footer {
    margin: 0;
    padding: 0;
    width: 100%;
    text-decoration: none;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
}

